body{  
    background-image: url("https://images.pexels.com/photos/11542516/pexels-photo-11542516.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
  }
  .h1{
      text-align:center;
      color:rgb(10, 5, 5);
      font-size: 50px;
      font-family: Bradley Hand;
      font-weight:bold;
    }
    .card
    {
      background-color: rgba(60, 57, 57, 0.658);
        padding: 100px;
        padding-top: 50px;
        padding-right: 120px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        color: white;
        width: 250px;
        height:400px;
        margin: auto;
    }
    .username
    {
      font-family: Bradley Hand;
      width:270px;
      height:30px
    }
    .center
    {
      text-align: center;
    }
    .btn
    {
      font-family: Bradley Hand;
      text-align: center;
      background-color: rgb(5, 5, 5);
      color: white;;
      height:35px;
      width:80px;
      cursor: pointer;
      border-radius: 12px;
    }
    span.psw {
      font-family: Bradley Hand;
  
      padding: 20px;
       display: block;
       float: none;
       color: white;
       cursor: pointer;
       font-size: large;
    
    }
    h4{
      font-family: Bradley Hand;
  
    }